.container{
    display: grid;
    grid-template: repeat(3 , 100px) / repeat(2, 100px);
    background: 3px solid lightgrey;
    justify-items: stretch;
    align-items: stretch;
    
    height: 100vh;
}

.box{
    background-color: gold;
    height: 5rem;
    width: 5rem;
} 