.box1{
    background-color: gold;
    padding: 1rem;
    
}
.box2{
    background-color: dodgerblue ;
    padding: 1rem;
}
.container{
     display: flex;
     flex-direction: column;
}
@media screen and (min-width: 600px){
    .container{
    flex-direction: row;
    } 
}